
    <header>
        <div class="outside-container">
            <div class="upper-container">
                <div class="logo">
                    Learn<span>It</span>
                </div>
                <div class="btn logout">
                    <a href = "/logout" >Logout</a>
                </div>
            </div>
            
            <div class="lower-container">
                <div class="welcome" id="<%= myusers._id %>">Welcome <%= myusers.username %> !</div>
                <div class="mymenubar">
                    <ul>
                        <li><a href="/homepage" >Home</a></li>
                        <li><a href="/allcourses" >Courses</a></li>
                        <li><a href="/profile" >Profile</a></li>
                    </ul>
                </div>
            
            </div>
            

            
        </div>
    </header>