<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcom to LearnIt!</title>

    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class="menubar">
            <div class="logo">
                Learn<span>It</span>
            </div>
            <div class="sign-register">
                <div class="btn login"><a href = "/login" > Login </a></div>
                <div class="btn register"><a href = "/register"> Register </a></div>
            </div>
        </div>
    </header>

    <main>
        <div class="main-container index">
            <div class="inner-container">
                <div class="title"> Learn Various Course </div>
                <div class="subtitle"> and get Certified </div>

                <div class="btn start-now">
                    <a href = "/login"> Start Now </a> 
                </div>

                <p class="tagline"> Do not miss this opportunity </p>
            </div>
        </div>
    </main>
</body>
</html>